.bundle
db/*.sqlite3
db/schema.rb
log/*.log
tmp/**/*
nbproject/
config/database.*
**/*~
*~
Gemfile.lock
.DS_Store
*.swp
**/*.swp
public/assets/v2
config/deploy.rb
public/assets/
public/css/
.idea/
.rvmrc
config/unicorn.*
