
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML+RDFa 1.1//EN">
<html lang="en" dir="ltr" version="HTML+RDFa 1.1" xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:dc="http://purl.org/dc/terms/" xmlns:foaf="http://xmlns.com/foaf/0.1/" xmlns:og="http://ogp.me/ns#" xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#" xmlns:sioc="http://rdfs.org/sioc/ns#" xmlns:sioct="http://rdfs.org/sioc/types#" xmlns:skos="http://www.w3.org/2004/02/skos/core#" xmlns:xsd="http://www.w3.org/2001/XMLSchema#" class="js"><head profile="http://www.w3.org/1999/xhtml/vocab">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="shortcut icon" href="http://local.amaysim2.com.au/misc/favicon.ico" type="image/vnd.microsoft.icon">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
<meta about="/node/14" property="sioc:num_replies" content="0" datatype="xsd:integer">
<link rel="shortlink" href="/node/14">
<meta name="Generator" content="Drupal 7 (http://drupal.org)">
<link rel="canonical" href="/node/14">
<meta content="MC Test Layout" about="/node/14" property="dc:title">
  <title>Rails-Drupal Integration App</title>

<!--[if (lt IE 9)&(!IEMobile)]>
<style type="text/css" media="all">
<!--/*--><!--[CDATA[/*--><!--*/
.alpha-grid-debug .container-12{background-image:url(http://local.amaysim2.com.au/sites/all/themes/omega/alpha/css/grid/alpha_default/normal/alpha-default-normal-12.png);}

/*]]>*/-->

<!--[endif]---->

<!--[if gte IE 9]><!-->
<style type="text/css" media="all and (min-width: 740px) and (min-device-width: 740px), (max-device-width: 800px) and (min-width: 740px) and (orientation:landscape)">
<!--/*--><![CDATA[/*><!--*/
.alpha-grid-debug .container-12{background-image:url(http://local.amaysim2.com.au/sites/all/themes/omega/alpha/css/grid/alpha_default/narrow/alpha-default-narrow-12.png);}

/*]]>*/-->
</style>
<!--<![endif]-->

<!--[if gte IE 9]><!-->
<style type="text/css" media="all and (min-width: 980px) and (min-device-width: 980px), all and (max-device-width: 1024px) and (min-width: 1024px) and (orientation:landscape)">
<!--/*--><![CDATA[/*><!--*/
.alpha-grid-debug .container-12{background-image:url(http://local.amaysim2.com.au/sites/all/themes/omega/alpha/css/grid/alpha_default/normal/alpha-default-normal-12.png);}

/*]]>*/-->
</style>
<!--<![endif]-->

<!--[if gte IE 9]><!-->
<style type="text/css" media="all and (min-width: 1220px)">
<!--/*--><![CDATA[/*><!--*/
.alpha-grid-debug .container-12{background-image:url(http://local.amaysim2.com.au/sites/all/themes/omega/alpha/css/grid/alpha_default/wide/alpha-default-wide-12.png);}

/*]]>*/-->
</style>
<!--<![endif]-->
<style type="text/css" media="all">@import url("http://local.amaysim2.com.au/modules/system/system.base.css?lxl8vv");
@import url("http://local.amaysim2.com.au/modules/system/system.menus.css?lxl8vv");
@import url("http://local.amaysim2.com.au/modules/system/system.messages.css?lxl8vv");
@import url("http://local.amaysim2.com.au/modules/system/system.theme.css?lxl8vv");</style>
<style type="text/css" media="all">@import url("http://local.amaysim2.com.au/modules/aggregator/aggregator.css?lxl8vv");
@import url("http://local.amaysim2.com.au/modules/comment/comment.css?lxl8vv");
@import url("http://local.amaysim2.com.au/modules/field/theme/field.css?lxl8vv");
@import url("http://local.amaysim2.com.au/modules/node/node.css?lxl8vv");
@import url("http://local.amaysim2.com.au/modules/poll/poll.css?lxl8vv");
@import url("http://local.amaysim2.com.au/modules/search/search.css?lxl8vv");
@import url("http://local.amaysim2.com.au/modules/user/user.css?lxl8vv");</style>
<style type="text/css" media="all">@import url("http://local.amaysim2.com.au/sites/all/themes/omega/alpha/css/alpha-reset.css?lxl8vv");
@import url("http://local.amaysim2.com.au/sites/all/themes/omega/alpha/css/alpha-mobile.css?lxl8vv");
@import url("http://local.amaysim2.com.au/sites/all/themes/omega/alpha/css/alpha-alpha.css?lxl8vv");
@import url("http://local.amaysim2.com.au/sites/all/themes/omega/omega/css/formalize.css?lxl8vv");
@import url("http://local.amaysim2.com.au/sites/all/themes/omega/omega/css/omega-text.css?lxl8vv");
@import url("http://local.amaysim2.com.au/sites/all/themes/omega/omega/css/omega-branding.css?lxl8vv");
@import url("http://local.amaysim2.com.au/sites/all/themes/omega/omega/css/omega-menu.css?lxl8vv");
@import url("http://local.amaysim2.com.au/sites/all/themes/omega/omega/css/omega-forms.css?lxl8vv");
@import url("http://local.amaysim2.com.au/sites/all/themes/omega/omega/css/omega-visuals.css?lxl8vv");
@import url("http://local.amaysim2.com.au/sites/all/themes/omega/alpha/css/alpha-debug.css?lxl8vv");</style>

<!--[if (lt IE 9)&(!IEMobile)]>
<style type="text/css" media="all">@import url("http://local.amaysim2.com.au/sites/all/themes/omega/alpha/css/grid/alpha_default/normal/alpha-default-normal-12.css?lxl8vv");</style>
<![endif]-->

<!--[if gte IE 9]><!-->
<style type="text/css" media="all and (min-width: 740px) and (min-device-width: 740px), (max-device-width: 800px) and (min-width: 740px) and (orientation:landscape)">@import url("http://local.amaysim2.com.au/sites/all/themes/omega/alpha/css/grid/alpha_default/narrow/alpha-default-narrow-12.css?lxl8vv");</style>
<!--<![endif]-->

<!--[if gte IE 9]><!-->
<style type="text/css" media="all and (min-width: 980px) and (min-device-width: 980px), all and (max-device-width: 1024px) and (min-width: 1024px) and (orientation:landscape)">@import url("http://local.amaysim2.com.au/sites/all/themes/omega/alpha/css/grid/alpha_default/normal/alpha-default-normal-12.css?lxl8vv");</style>
<!--<![endif]-->

<!--[if gte IE 9]><!-->
<style type="text/css" media="all and (min-width: 1220px)">@import url("http://local.amaysim2.com.au/sites/all/themes/omega/alpha/css/grid/alpha_default/wide/alpha-default-wide-12.css?lxl8vv");</style>
<!--<![endif]-->
  <script type="text/javascript" src="http://local.amaysim2.com.au/misc/jquery.js?v=1.4.4"></script>
<script type="text/javascript" src="http://local.amaysim2.com.au/misc/jquery.once.js?v=1.2"></script>
<script type="text/javascript" src="http://local.amaysim2.com.au/misc/drupal.js?lxl8vv"></script>
<script type="text/javascript" src="http://local.amaysim2.com.au/sites/all/themes/omega/omega/js/jquery.formalize.js?lxl8vv"></script>
<script type="text/javascript" src="http://local.amaysim2.com.au/sites/all/themes/omega/omega/js/omega-mediaqueries.js?lxl8vv"></script>
<script type="text/javascript" src="http://local.amaysim2.com.au/sites/all/themes/omega/alpha/js/alpha-debug.js?lxl8vv"></script>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
jQuery.extend(Drupal.settings, {"basePath":"\/","pathPrefix":"","ajaxPageState":{"theme":"omega","theme_token":"tVuCu2-id4WH-o-vH4OQQVipPkJ40Z-5kopC8C_uJD4","js":{"misc\/jquery.js":1,"misc\/jquery.once.js":1,"misc\/drupal.js":1,"sites\/all\/themes\/omega\/omega\/js\/jquery.formalize.js":1,"sites\/all\/themes\/omega\/omega\/js\/omega-mediaqueries.js":1,"sites\/all\/themes\/omega\/alpha\/js\/alpha-debug.js":1},"css":{"1":1,"0":1,"2":1,"3":1,"modules\/system\/system.base.css":1,"modules\/system\/system.menus.css":1,"modules\/system\/system.messages.css":1,"modules\/system\/system.theme.css":1,"modules\/aggregator\/aggregator.css":1,"modules\/comment\/comment.css":1,"modules\/field\/theme\/field.css":1,"modules\/node\/node.css":1,"modules\/poll\/poll.css":1,"modules\/search\/search.css":1,"modules\/user\/user.css":1,"sites\/all\/themes\/omega\/alpha\/css\/alpha-reset.css":1,"sites\/all\/themes\/omega\/alpha\/css\/alpha-mobile.css":1,"sites\/all\/themes\/omega\/alpha\/css\/alpha-alpha.css":1,"sites\/all\/themes\/omega\/omega\/css\/formalize.css":1,"sites\/all\/themes\/omega\/omega\/css\/omega-text.css":1,"sites\/all\/themes\/omega\/omega\/css\/omega-branding.css":1,"sites\/all\/themes\/omega\/omega\/css\/omega-menu.css":1,"sites\/all\/themes\/omega\/omega\/css\/omega-forms.css":1,"sites\/all\/themes\/omega\/omega\/css\/omega-visuals.css":1,"sites\/all\/themes\/omega\/alpha\/css\/alpha-debug.css":1,"ie::normal::sites\/all\/themes\/omega\/alpha\/css\/grid\/alpha_default\/normal\/alpha-default-normal-12.css":1,"sites\/all\/themes\/omega\/alpha\/css\/grid\/alpha_default\/narrow\/alpha-default-narrow-12.css":1,"sites\/all\/themes\/omega\/alpha\/css\/grid\/alpha_default\/normal\/alpha-default-normal-12.css":1,"sites\/all\/themes\/omega\/alpha\/css\/grid\/alpha_default\/wide\/alpha-default-wide-12.css":1}},"omega":{"layouts":{"primary":"normal","order":["narrow","normal","wide"],"queries":{"narrow":"all and (min-width: 740px) and (min-device-width: 740px), (max-device-width: 800px) and (min-width: 740px) and (orientation:landscape)","normal":"all and (min-width: 980px) and (min-device-width: 980px), all and (max-device-width: 1024px) and (min-width: 1024px) and (orientation:landscape)","wide":"all and (min-width: 1220px)"}}}});
//--><!]]>
</script>
  <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body class="html not-front not-logged-in page-node page-node- page-node-14 node-type-page context-node alpha-grid-debug alpha-region-debug omega-mediaqueries-processed alpha-debug-processed responsive-layout-wide"><div id="omega-media-query-dummy"><style media="all">#omega-media-query-dummy { position: relative; z-index: -1; }</style><!--[if (lt IE 9)&(!IEMobile)]><style media="all">#omega-media-query-dummy { z-index: 1; }</style><![endif]--><style media="all and (min-width: 740px) and (min-device-width: 740px), (max-device-width: 800px) and (min-width: 740px) and (orientation:landscape)">#omega-media-query-dummy { z-index: 0; }</style><style media="all and (min-width: 980px) and (min-device-width: 980px), all and (max-device-width: 1024px) and (min-width: 1024px) and (orientation:landscape)">#omega-media-query-dummy { z-index: 1; }</style><style media="all and (min-width: 1220px)">#omega-media-query-dummy { z-index: 2; }</style></div>
  <div id="skip-link">
    <a href="#main-content" class="element-invisible element-focusable">Skip to main content</a>
  </div>
    <div class="page clearfix" id="page">
      <header id="section-header" class="section section-header">
  <div id="zone-user-wrapper" class="zone-wrapper zone-user-wrapper clearfix">
  <div id="zone-user" class="zone zone-user clearfix container-12">
    <div class="grid-8 region region-user-first" id="region-user-first">
  <div class="region-inner region-user-first-inner">
    <div class="alpha-debug-block"><h2>User Bar First</h2><p>This is a debugging block</p></div>  </div>
</div><div class="grid-4 region region-user-second" id="region-user-second">
  <div class="region-inner region-user-second-inner">
    <div class="alpha-debug-block"><h2>User Bar Second</h2><p>This is a debugging block</p></div>  </div>
</div>  </div>
</div><div id="zone-branding-wrapper" class="zone-wrapper zone-branding-wrapper clearfix">
  <div id="zone-branding" class="zone zone-branding clearfix container-12">
    <div class="grid-12 region region-branding" id="region-branding">
  <div class="region-inner region-branding-inner">
        <div class="branding-data clearfix">
            <div class="logo-img">
        <a href="/" rel="home" title="CMS dev 1"><img src="http://local.amaysim2.com.au/sites/all/themes/omega/omega/logo.png" alt="CMS dev 1" id="logo"></a>      </div>
                        <hgroup class="site-name-slogan">
                                <h2 class="site-name"><a href="/" rel="home" title="Home">Rails-Drupal Integration App</a></h2>
                              </hgroup>
          </div>
        <div class="alpha-debug-block"><h2>Branding</h2><p>This is a debugging block</p></div>  </div>
</div>  </div>
</div></header>
      <section id="section-content" class="section section-content">
  <div id="zone-content-wrapper" class="zone-wrapper zone-content-wrapper clearfix">
  <div id="zone-content" class="zone zone-content clearfix container-12">
          <div id="breadcrumb" class="grid-12"><h2 class="element-invisible">You are here</h2><div class="breadcrumb"><a href="/">Home</a></div></div>

        <div class="grid-6 region region-content" id="region-content">
  <div class="region-inner region-content-inner">
    <a id="main-content"></a>
                <h1 class="title" id="page-title">Rails-Drupal Integration App</h1>
                <div class="tabs clearfix"></div>
  <div class="block block-system block-main block-system-main even block-without-title" id="block-system-main">
  <div class="block-inner clearfix">

    <div class="content clearfix">
        <%=yield%>
    </div>
  </div>
</div>      </div>
</div><aside class="grid-3 region region-sidebar-second" id="region-sidebar-second">
  <div class="region-inner region-sidebar-second-inner">
    <div class="alpha-debug-block"><h2>Sidebar Second</h2><p>This is a debugging block</p></div>  </div>
</aside>  </div>
</div></section>

      <footer id="section-footer" class="section section-footer">
  <div id="zone-footer-wrapper" class="zone-wrapper zone-footer-wrapper clearfix">
  <div id="zone-footer" class="zone zone-footer clearfix container-12">
    <div class="grid-12 region region-footer-first" id="region-footer-first">
  <div class="region-inner region-footer-first-inner">
    <div class="alpha-debug-block"><h2>Footer First</h2><p>This is a debugging block</p></div>  </div>
</div><div class="grid-12 region region-footer-second" id="region-footer-second">
  <div class="region-inner region-footer-second-inner">
    <div class="alpha-debug-block"><h2>Footer Second</h2><p>This is a debugging block</p></div>  </div>
</div>  </div>
</div></footer>  </div>  <div class="alpha-resize-indicator"></div><a class="alpha-grid-toggle" href="#"></a><a class="alpha-block-toggle" href="#"></a>
</body></html>